$darkColor: #191C32;
$lightBrown: #F4EBE7;
$lightOrange: #FCD7B6;
$blue: #A3BBC8;
$lightBlue: #EBF8FF;


$brown: #EAE0D6;
// $red: #FA2839;
$red: #f34553;
$cyan: #37E2E8;

$mainColor: $red;
$secondaryColor: $brown;
$mainBkColor: $darkColor;