@import "./core/reset";
@import "./core/variables";
@import "./core/mixins";

@font-face {
  font-family: "gotham";
  src: url("../fonts/GothamMedium.ttf") format("truetype");
}

* {
  font-family: "gotham", sans-serif;
  color: white;
}

.app {
  height: 100vh;
  background-color: rgb(39, 38, 38);
  padding: 30px;
}
