.contactForm {
    display: flex;
    flex-direction: column;

    &__label {
        margin-bottom: 15px;

        &--input {
            width: 100%;
            padding: 10px 0;
            background: none;
            border: none;
            border-bottom: 1px solid #666;
            color: #ddd;
            font-size: 14px;
            text-transform: uppercase;
            outline: none;
            transition: border-color 0.2s;
          }

          &--input::placeholder {
            color: #666;
          }
          
          &--input:focus {
            border-bottom-color: #ddd;
          }
      }
  }


// buttons

.app-form-group.buttons {
    margin-bottom: 0;
    text-align: right;
  }

.app-form-button {
    background: none;
    border: none;
    color: #ea1d6f;
    font-size: 14px;
    cursor: pointer;
    outline: none;
  }
  
  .app-form-button:hover {
    color: #b9134f;
  }